[submodule "contrib/dircolors-solarized"]
	path = contrib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "contrib/bash-insulter"]
	path = contrib/bash-insulter
	url = https://github.com/hkbakke/bash-insulter.git
[submodule "contrib/i3-renameworkspaces"]
	path = contrib/i3-renameworkspaces
	url = https://github.com/mh21/i3-renameworkspaces.git
[submodule "contrib/conda-zsh-completion"]
	path = contrib/conda-zsh-completion
	url = https://github.com/xywei/conda-zsh-completion.git
[submodule "contrib/ranger_devicons"]
	path = contrib/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule "contrib/vim-plug"]
	path = contrib/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "contrib/powerlevel9k"]
	path = contrib/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "contrib/gitignore"]
	path = contrib/gitignore
	url = git@github.com:github/gitignore
