[submodule "contrib/dircolors-solarized"]
	path = contrib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "contrib/bash-insulter"]
	path = contrib/bash-insulter
	url = https://github.com/hkbakke/bash-insulter.git
[submodule "contrib/i3-renameworkspaces"]
	path = contrib/i3-renameworkspaces
	url = https://github.com/mh21/i3-renameworkspaces.git
[submodule "contrib/conda-zsh-completion"]
	path = contrib/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion.git
